{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<v:variable.set name="startDate" value="{item.crdate}" />
<v:variable.set name="endDate" value="{v:system.timestamp()}" />
<v:variable.set name="yearAgo" value="{v:format.dateRange(start: startDate, end: endDate, return: 'y')}" />
<v:variable.set name="dayAgo" value="{v:format.dateRange(start: startDate, end: endDate, return: 'd')}" />
<v:variable.set name="hourAgo" value="{v:format.dateRange(start: startDate, end: endDate, return: 'h')}" />
<v:variable.set name="minuteAgo" value="{v:format.dateRange(start: startDate, end: endDate, return: 'i')}" />
<v:variable.set name="crdateTitle" value="{startDate -> f:format.date(format:'%A, %d. %B')} {f:translate(key: 'LLL:EXT:moox_comment/Resources/Private/Language/locallang.xlf:date.at')} {startDate -> f:format.date(format:'%H:%M')}" />
<v:variable.set name="itemDateRange">
	<f:if condition="{yearAgo} == '0'">
		<f:then>
			<f:if condition="{dayAgo} == '0'">
				<f:then>
					<f:if condition="{hourAgo} == '0'">
						<f:then>
							<f:if condition="{minuteAgo} == '0'">
								<f:then>
									<f:translate key="LLL:EXT:moox_comment/Resources/Private/Language/locallang.xlf:date.now" />
								</f:then>
								<f:else>
									<f:if condition="{minuteAgo} == '1'">
										<f:then>
											{minuteAgo} <f:translate key="LLL:EXT:moox_comment/Resources/Private/Language/locallang.xlf:date.minute" />
										</f:then>
										<f:else>
											{minuteAgo} <f:translate key="LLL:EXT:moox_comment/Resources/Private/Language/locallang.xlf:date.minutes" />
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:if condition="{hourAgo} == '1'">
								<f:then>
									{hourAgo} <f:translate key="LLL:EXT:moox_comment/Resources/Private/Language/locallang.xlf:date.hour" />
								</f:then>
								<f:else>
									{hourAgo} <f:translate key="LLL:EXT:moox_comment/Resources/Private/Language/locallang.xlf:date.hours" />
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{dayAgo} == '1'">
						<f:then>
							<f:translate key="LLL:EXT:moox_comment/Resources/Private/Language/locallang.xlf:date.yesterday.at" /> {startDate -> f:format.date(format:'%H:%M')}
						</f:then>
						<f:else>
							{startDate -> f:format.date(format:'%d. %B')} <f:translate key="LLL:EXT:moox_comment/Resources/Private/Language/locallang.xlf:date.at" /> {startDate -> f:format.date(format:'%H:%M')}
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			{startDate -> f:format.date(format:'%d. %B %Y')}
		</f:else>
	</f:if>
</v:variable.set>

<f:if condition="{item.feUser}">
	<f:then>
		<f:if condition="{item.feUser.uid}=={feUser.uid}">
			<f:then>
				<v:variable.set name="commentTypeClass" value="own" />
			</f:then>
			<f:else>
				<v:variable.set name="commentTypeClass" value="registered-user" />
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<v:variable.set name="commentTypeClass" value="public-user" />
	</f:else>
</f:if>

<div class="panel panel-default panel-{commentTypeClass} moox-ajax-item">
	<div class="panel-heading clearfix">
		<div class="pull-left">						
			<f:comment>
			{f:translate(key: 'pi1.action_list.comment_by')} {item.name}: {item.title}
			<f:if condition="{item.feUser}">
				<f:then>
					<f:if condition="{item.feUser.uid}=={feUser.uid}">
						<f:then>
							<br /><small>({f:translate(key: 'pi1.action_list.own_comment')})</small>				
						</f:then>
						<f:else>
							<br /><small>({f:translate(key: 'pi1.action_list.registered_user')}: {item.feUser.username})</small>				
						</f:else>
					</f:if>								
				</f:then>
				<f:else>
					<br /><small>({f:translate(key: 'pi1.action_list.public_user')})</small>				
				</f:else>
			</f:if>
			</f:comment>
			<strong>{item.title}</strong><br />
			<small>{item.name}</small>
		</div>
		<div class="pull-right text-right">
			<span title="{crdateTitle}">{itemDateRange}</span><br />
			<f:if condition="{isConfirmable}">				
				<f:if condition="{item.confirmed}>0">
					<f:then>
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>				
					</f:then>
					<f:else>
						<a href="{f:uri.action(action:'confirm',noCache:1,pageType:985491,arguments:{uid:item.uid,hash:item.hash})}" id="moox-ajax-confirm-{item.uid}" title="{f:translate(key: 'pi1.action_list.confirm')}" data-css="btn-confirm ajax" data-title="{f:translate(key: 'pi1.action_list.confirm.modal.title')}" data-body="{f:translate(key: 'pi1.action_list.confirm.modal.body', arguments: {0: item.name,1: item.title})}" data-button="{f:translate(key: 'pi1.action_list.confirm.modal.button')}" data-close="{f:translate(key: 'pi1.action_list.confirm.modal.close')}" class="btn-modal"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>				
					</f:else>
				</f:if>
			</f:if>
			<v:variable.set name="deleteable" value="0" />			
			<f:if condition="{isDeleteable}">				
				<f:if condition="{isModerator}">
					<f:then>
						<v:variable.set name="deleteable" value="1" />				
					</f:then>
					<f:else>
						<f:if condition="{item.feUser.uid}=={feUser.uid}">
							<v:variable.set name="deleteable" value="1" />
						</f:if>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{deleteable}">
				<a href="{f:uri.action(action:'delete',noCache:1,pageType:985491,arguments:{uid:item.uid,hash:item.hash})}" id="moox-ajax-delete-{item.uid}" title="{f:translate(key: 'pi1.action_list.delete')}" data-css="btn-delete ajax" data-title="{f:translate(key: 'pi1.action_list.delete.modal.title')}" data-body="{f:translate(key: 'pi1.action_list.delete.modal.body', arguments: {0: item.name,1: item.title})}" data-button="{f:translate(key: 'pi1.action_list.delete.modal.button')}" data-close="{f:translate(key: 'pi1.action_list.delete.modal.close')}" class="btn-modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>	
			</f:if>			
		</div>
	</div>
	<div class="panel-body">
		{item.comment}
	</div>
</div>