{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="moox-ajax-body" id="{v:system.uniqId(prefix: 'moox-ajax-body-')}" data-count="{count}" data-url="{f:uri.action(action:'show',noCache:1,pageType:985492,arguments:{filter:{uid_foreign:configuration.uid_foreign,tablenames:configuration.tablenames}})}">	
	<f:if condition="{info.rating.count}>0">
		<f:then>
			<f:if condition="{settings.ratingMode}=='like_dislike'">
				<button class="btn btn-primary" type="button" style="cursor: default">			
					<span class="badge">{info.rating.count}</span> Bewertung(en), Likes: {info.rating.likes} ({info.rating.likes_percent}%), Diskikes: {info.rating.dislikes} ({info.rating.dislikes_percent}%)
				</button>				
			</f:if>
			<f:if condition="{settings.ratingMode}=='stars'">
				<f:if condition="{settings.allowHalfStars} == '1'">
					<f:then>
						<v:variable.set name="ratingStep" value="0.5" />
					</f:then>
					<f:else>
						<v:variable.set name="ratingStep" value="1" />
					</f:else>
				</f:if>
				<input type="number" value="{info.rating.average}" id="result-stars" data-min="0" data-max="{settings.stars}" data-stars="{settings.stars}" data-step="{ratingStep}" data-size="xs" data-readonly="true" data-hover-enabled="false" data-show-clear="false" data-show-caption="false" data-language="de" class="rating" />
				<button class="btn btn-primary" type="button">
					<span class="badge">{info.rating.count}</span> Bewertung(en)<f:if condition="{info.rating.average}>0">, Durchschnitt: {info.rating.average}</f:if>
				</button>
			</f:if>
		</f:then>
		<f:else>
			<div class="well well-list center-block">
				<div class="alert alert-info" role="alert">
					{f:translate(key: 'pi2.action_list.no_items')}
				</div>
			</div>
		</f:else>
	</f:if>
</div>